.container {
  min-height: 100vh;
  padding: 0 0.5rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  cursor: pointer;
  background-image: url(../public/tenor.gif);
  background-size: 100% 100%;
  animation: rainbow 5s ease infinite;
  background-clip: text;
  letter-spacing: 1px;
  -webkit-background-clip: text;
  color: #303030;
  transition: color 0.3s ease-in-out;
}

.description{
  font-size: 20px;
}

.title:hover {
  transition: color 0.3s ease-in-out;
  text-shadow: 0px 2px 2px rgba(64, 62, 150, 0.2);
  color: rgba(231, 231, 231, 0);
}

@keyframes rainbow {
  0% {
    background-position: left;
  }
  50% {
    background-position: right;
  }
  100% {
    background-position: left;
  }
}

.animate {
	animation: fadeIn 2s;
  	opacity: 1;
}

@keyframes fadeIn {
  from {
  	opacity: 0;
  }
  to {
 	opacity: 1;
  }
}